.top-buffer {
    margin-top:20px;
}

.row {
    border: 0px solid;
    background-color: #303030;
}

.avatar-pic {
    margin: 10px 0px 10px 0px;
}

.delete-button {
    margin: 30px 0px 10px 0px;
}

#search-box {
    margin-top: 60px;
}

#bottom-padding {
    margin-bottom: 60px;
}
