<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import Font-Awesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Import AngularJS-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="https://bootswatch.com/darkly/bootstrap.min.css">

    <!--Import my dodgy css-->
    <link type="text/css" rel="stylesheet" href="css/style.css" />


    <title>Twitch TV browser</title>
</head>

<body>

<script type="text/javascript" src="js/twitch_browser.js"></script>

<div class="container" ng-app="twitchBrowser">

    <div ng-controller="channelGrabber">

        <div class="input-group" id="search-box">
            <input ng-model="searchString" type="text" class="form-control " placeholder="">
            <span class="input-group-btn">
                <button ng-click="addChannel(searchString)" class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"></span></button>
            </span>
        </div>

        <div ng-repeat="channel in channels | searchFor:searchString" id="channel">
            <div class="row top-buffer">
                <div class="col-md-1">
                    <img class="img-circle img-responsive avatar-pic" src="{{ channel.avatarUrl }}">
                </div>

                <div class="col-md-10">
                    <p><h4><a href="{{ channel.url }}" target="_blank">{{ channel.name }}</a></h4></p>

                    <p>{{ channel.description }}</p>

                    <p ng-if="channel.online"><span class="label label-success">online</span></p>


                    <p ng-if="!channel.online" ng-switch="channel.error">
                        <span ng-switch-when="false" class="label label-default">offline</span>
                        <span ng-switch-when="true" class="label label-danger">error</span>
                    </p>
                </div>

                <div class="col-md-1">
                    <button ng-click="deleteChannel(channel.name)" class="btn btn-default btn-sm delete-button"><i class="fa fa-trash"></i></button>
                </div>
            </div>
        </div>

        <div id="bottom-padding"></div>
    </div>

</div>


</body>
</html>


























